# ---- Flutter / Dart ----
.dart_tool/
.packages
.pub/
build/
.flutter-plugins*
.flutter-plugins-dependencies
.metadata

# ---- IDE ----
.idea/
.vscode/

# ---- Android ----
android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/local.properties
android/gradle*
caches/
.tmp/
wrapper/
**/gradle-*/

# ---- iOS ----
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# ---- Misc ----
.gradle/
